/*********************************
**********CSS by Jennie***********
**********DRAGONS AHEAD***********
*******YE'VE BEEN WARNED!********/


/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: inherit;
    color: rgb(32,40,55);
    height:100%;
}
body {
    height: 100%;
    color: magenta;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.6rem;
    padding: 1% 0;
}
h3 {
    font-size: 1.4rem;
    padding: 1% 9%;
    text-align: center;
}
body * {
    line-height: 2rem;
    font-family: 'Exo',Verdana, Geneva, Tahoma, sans-serif;
    outline:rgb(148, 149, 151) solid 2px;
    background-color: #244484;
}
nav {
    width: 100%;
    height: auto;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
}
header {
    height: auto;
}
.topLinks {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topLinks * {
    
}
.fa-solid {
    
    font-size: x-large;
}
.menuIcon {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}
.hero {
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.intro h2 {
    width: 60%; 
    text-align: center;
}
.intro {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro h2 {
    word-wrap: normal;
}
.headshot {
    
} 
.headshot > img {
    height: 200px;
}
main {
    height: 40rem;
}
main h2 {
    text-align: center;
}
.about {
    min-height: 100px;
}
footer {
    width: 100%;
    height: auto;
}
